<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringWorks:war exploded2">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringWorks_war_exploded2</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringWorks" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="SpringWorks/web/Web" />
    </root>
  </artifact>
</component>